<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tugas Layout</title>
    <link rel="stylesheet" href="../layout/style.css" />
  </head>
  <body>
    <header>
      <h1>Header</h1>
    </header>

    <nav>
      <a href="">Menu 1</a>
      <a href="">Menu 2</a>
      <a href="">Menu 3</a>
    </nav>

    <div class="content">
      <aside class="sidebar-left">
        <h2 style="text-align: center">Content</h2>
        <p>This is the left sidebar content.</p>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae neque,
          adipisci obcaecati recusandae iure magnam, fugit ab corporis earum,
          natus cumque sunt necessitatibus consequatur nisi! Fuga numquam
          architecto non deserunt!
        </p>
      </aside>

      <main>
        <h2 style="text-align: center">Main Content</h2>
        <p>This is the main content area.</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quas
          eius laudantium, iusto recusandae ut repellendus? Ipsum consectetur
          atque accusamus cumque quis impedit. Magni fugit placeat labore nobis?
          Corrupti, quae!
        </p>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit
          praesentium provident temporibus. Vero unde repudiandae esse sint,
          facilis atque, sed repellendus autem similique ipsa culpa cum quod?
          Nesciunt, laudantium facilis.
        </p>
      </main>

      <aside class="sidebar-right">
        <h2 style="text-align: center">Content</h2>
        <p>This is the right sidebar content.</p>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque
          eligendi quibusdam ullam ab obcaecati architecto repellat vero at
          neque magni ut, maiores culpa? Animi doloremque veniam repellendus
          odit tempore quasi.
        </p>
      </aside>
    </div>

    <footer>
      <p>Footer</p>
    </footer>
  </body>
</html>
