body {
    margin: 20px;
    font-family: Arial, sans-serif;
}

header, nav, main, footer {
    padding: 50px;
    text-align: center;
}

header {
   
    background-color: #9ce599;

}

nav {
    background-color: #348831;
}

main {
    display: flex;
    justify-content: space-around;
}

section {
    flex: 3;
    border: 1px solid #176b1e;
}

footer {
    background-color: #0e6421;
    color: #fff;
}