*{
    box-sizing: border-box;
}

body{
    margin: 0%;
}

.header{
    background-image: url('../image/miaw.png');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: rgb(41, 41, 41);
    padding: 20px;
}

.navbar{
    overflow: hidden;
    background-color: tomato;
    justify-content: center;
    display: flex;
}

.navbar a{
    float: left;
    text-decoration: none;
    padding: 14% 16%;
    text-align: center;
}

.navbar a:hover{
    background-color: rgb(123, 98, 146);
    color: bisque;
}

.column{
    float: left;
    padding: 10px;
}

.column-side{
    width: 25%;
}

.column-middle{
    width: 50%;
}

.row:after{
    content: "";
    display: block;
    clear: both;
}

.footer{
    background-color: skyblue;
    padding: 10%;
    text-align: center;
}