* {
  box-sizing: border-box;
}
.container {
  width: 60%;
  margin: 0 auto;
}

.form-contoh {
  padding: 20px;
  border: 2px solid aliceblue;
  margin-top: 30px;
  background-color: aliceblue;
  border-radius: 10px;
}

label {
  display: block; /* memisahkan baris antara label dengan input */
  margin-bottom: 10px; /* memberikan jarak antara tag label dan tag input */
  font-weight: bold;
}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px;
    border-radius: 10px;
}
button{
    background-color: blue;
    padding: 10px;
    border: none;
    color: aliceblue;
    cursor: pointer;
}

button:hover{
    background-color: aqua;
}
