/* selector universal => mengatur seluruh tag secara bersamaan */
* {
  /* css layout */
  box-sizing: border-box;
}
body {
  margin: 0;
}
/* pembuatan css class */
.header {
  background-image: url("../image/background.jpg");
  /* background-repeat: no-repeat; */
  background-position: center;
  text-align: center;
  color: white;
  padding: 20px;
}
.navbar {
  overflow: hidden; /* untuk membuat posisi box */
  background-color: aquamarine;
  justify-content: center;
  display: flex;
}
.navbar a {
  float: left;
  text-decoration: none;
  padding: 14px 16px;
  text-align: center;
}
.navbar a:hover {
  background-color: blue;
  color: white;
}
.column {
  float: left;
  padding: 10px;
}
.column.side {
  width: 25%;
}
.column.middle {
  width: 50%;
}
.row:after {
  content: block;
  clear: both; /*membersihkan cache float sebelumnya*/
}
.footer {
  background-color: aqua;
  padding: 10px;
  text-align: center;
}
