/* contoh selector tag pada eksternal */

h2 {
  color: blueviolet;
  text-align: justify;
  font-family: "Courier New", Courier, monospace;
  font-size: 20pt;
}

h3 {
  color: #e85c0d;
  text-align: justify;
  font-family: "Courier New", Courier, monospace;
  font-size: 15pt;
}

body {
  background-color: white;
}

ul,
li,
ol {
  text-decoration: none;
  /* list-style: none; */
}

table {
  border: 10px;
  margin: auto;
}

tr {
  padding: 5px;
  border: 1px solid green;
}

/* hover adalah salah satu library / pseudo element yang dimiliki css untuk mengubah kondisi tertentu ketika mouse melayang di tag yang dituju */
tr:hover {
  background-color: blue;
  color: white;
  font-size: 15pt;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

#paragraph {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 10;
    color: firebrick;
    font-weight: bold;
}
